<turbo-stream action="replace" target="option_votes_<%= @option.id %>">
  <template>
    <span id="option_votes_<%= @option.id %>" class="text-muted small">
      <%= @option.votes.count %> votes
    </span>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="flash">
  <template>
    <div id="flash" data-controller="flash" class="alert alert-success mt-5" role="alert">
      <%= flash[:notice] %>
    </div>
  </template>
</turbo-stream>