<turbo-stream action="replace" target="poll_options_<%= @total_votes - 1 %>">
  <template>
    <% version = @option.poll.options.sum { |o| o.votes.count } %>
    <div id="poll_options_<%= version %>" class="row">
      <%= render partial: "polls/options", formats: [:html], locals: { poll: @option.poll, total_votes: @total_votes } %>
    </div>
  </template>
</turbo-stream>

<turbo-stream action="replace" target="flash">
  <template>
    <div id="flash" data-controller="flash" class="alert alert-success mt-5" role="alert">
      <%= flash[:notice] %>
    </div>
  </template>
</turbo-stream>
